* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.complete {
  text-decoration: line-through;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #141a2f;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
  margin-bottom: 0rem;
  margin-top: 2rem;
}

.elements {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.title {
  color: white;
  margin-bottom: 1.5rem;
}

input {
  border: 0;
  outline: 0;
  padding: 5px;
  border: solid 4px rgb(248, 91, 0);
  background-color: #141a2f;
  color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.inputtext {
  border: 0;
  outline: 0;
  padding: 5px;
  border: solid 4px rgb(248, 91, 0);
  background-color: #141a2f;
  color: white;
}

.form button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: rgb(248, 91, 0);
  border: 0;
  outline: 0;
  color: white;
  padding: 9px;
}

/* .todoitem button {
  font-size: 120%;
  background-color: inherit;
  border: 0;
} */
.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(248, 91, 0);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}
.TodotextWrapper {
  background: #1a1a40;
  margin-top: 1rem;
  padding: 0.2rem;
  border-radius: 5px;
}
